<div class="col-sm-12" style="padding-top:20px;">

    <rd-widget>
        <form class="form-horizontal " role="form" novalidate ng-submit="submit();">
            <rd-widget-header icon="fa-male" title="Namen ändern">

            </rd-widget-header>
            <rd-widget-body classes="no-padding">

                <div class="row">
                    <div class="with-padding">


                        <div class="form-group">
                            <label class="col-sm-2  control-label">Vorname</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control"
                                       placeholder="Vorname"
                                       ng-model="account.firstName"
                                       ng-required="true"
                                       name="firstname">
                            </div>
                            <label class="col-sm-2 control-label">Nachname</label>

                            <div class="col-sm-4">
                                <input type="text" class="form-control"
                                       placeholder="Nachname"
                                       ng-model="account.lastName"
                                       ng-required="true"
                                       name="lastName">
                            </div>
                        </div>


                    </div>
                </div>


            </rd-widget-body>
            <rd-widget-footer>
                <div class="pull-right">
                    <button class="btn btn-primary btn-block" type="submit">
                        <i class="fa fa-save fa-fw"></i>
                        Speichern
                    </button>
                </div>
                <div class="clearfix"></div>

            </rd-widget-footer>
        </form>
    </rd-widget>
</div>


