<section class="section container-fluid">

    <div ng-if="ctrl.data.length<1">
        Liste leer
    </div>

    <div class="list-group" ng-repeat="item in ctrl.data">
        <a
                ng-click="ctrl.toggle(item)"
                ng-class="{'list-group-item-info':item.done}"
                class="list-group-item clearfix">{{item.product.name}}
                    <span class="pull-right">
                        <button class="btn btn-xs btn-info">{{item.stock}}</button>
                    </span>
        </a>
    </div>

    <hr/>

    <button ng-click="ctrl.closeBuying()" class="btn btn-primary btn-block">
        Einkaufen Abschlißen
    </button>

</section>
