<section class="section container-fluid">


    <div ui-content-for="title">
        <span>Einkaufs Liste</span>
    </div>

    <div class="scrollable">
        <div class="scrollable-content section">

            <fieldset>
                <div class="form-group ">
                    <input type="text"
                           ng-model="ctrl.filter"
                           class="form-control"
                           placeholder="Suchen">
                </div>

            </fieldset>
            <hr>


            <div class="list-group" style="margin-bottom: 0px;" ng-repeat="item in ctrl.products | filter:ctrl.filter | orderBy:'product.name'">

                <div class=" list-group-item clearfix">

                    <span class="col-xs-1">
                        <span class="badge">{{item.stock}}</span>
                    </span>

                    <div ng-if="item.product.id != ctrl.selectedId" class="col-xs-3">{{item.product.name}}</div>
                    <div ng-if="item.product.id == ctrl.selectedId" class="col-xs-3">
                        <input ng-model="item.product.name" ng-blur="ctrl.updateProduct(item)"
                               class="form-control"></div>

                    <div class="col-xs-1">
                        <button ng-click="ctrl.edit(item)"
                                ng-disabled="item.product.id == ctrl.selectedId "
                                class="btn  btn-info">Edit
                        </button>
                    </div>

                    <div class=" col-xs-offset-2 col-xs-2">
                        <button
                                ng-disabled="item.product.id == ctrl.selectedId || item.stock<1"
                                ng-click="ctrl.decreaseStock(item)"
                                class="btn btn-block  btn-info">-
                        </button>
                    </div>
                    <div class="col-xs-2">
                        <button ng-click="ctrl.increaseStock(item)"
                                ng-disabled="item.product.id == ctrl.selectedId "
                                class="btn  btn-info btn-block">+
                        </button>
                    </div>

                </div>

                <!--<span class="list-group-item ">-->
                <!--<span class="pull-right">-->
                <!--<button class="btn btn-xs btn-info">{{item.stock}}</button>-->
                <!--<button ng-click="ctrl.decreaseStock(item)" ng-disabled="item.stock<1" class="btn btn-xs btn-info btn-badge">-</button>-->
                <!--<button ng-click="ctrl.increaseStock(item)" class="btn btn-xs btn-info btn-badge">+</button>-->
                <!--</span>-->
                <!--</span>-->
            </div>


            <!--<div class="list-group" ng-repeat="item in ctrl.products | filter:filter">-->
            <!--<span class="list-group-item clearfix">{{item.product.name}}-->
            <!--<span class="pull-right">-->
            <!--<button class="btn btn-xs btn-info">{{item.stock}}</button>-->
            <!--<button ng-click="ctrl.decreaseStock(item)" ng-disabled="item.stock<1" class="btn btn-xs btn-info btn-badge">-</button>-->
            <!--<button ng-click="ctrl.increaseStock(item)" class="btn btn-xs btn-info btn-badge">+</button>-->
            <!--</span>-->
            <!--</span>-->
            <!--</div>-->


            <form role="form" ng-submit='ctrl.addProduct()'>
                <fieldset>
                    <div class="form-group">
                        <input type="text"
                               ng-model="ctrl.name"
                               class="form-control"
                               placeholder="Neues Produkt">
                    </div>

                </fieldset>
                <span>{{ctrl.error}}</span>
                <button type="submit" class="btn btn-primary btn-block">
                    Einfügen
                </button>


            </form>

            <hr/>
        </div>


    </div>

</section>


